<h1>Add a New User</h1>

<%= form_with model:@user do |f| %>
  <%= f.label :username, 'User Name:' %>
  <%= f.text_field :username, placeholder: "Snoopy" %>

  <%= f.label :email, 'E-Mail:' %>
  <%= f.email_field :email, placeholder: "snoopy@schulzmail.com" %>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %>

  <%= f.submit "Create User" %>
<% end %>
