<%= form_with url: :flights, method: :get, local: true do |f| %>
  <div class="selections-container">
    <div class="form-row">
      <%= f.label :departure_airport_id %>
      <%= f.collection_select :departure_airport_id, Airport.all, :id, :code %>
    </div>

    <div class="form-row">
      <%= f.label :arrival_airport_id %>
      <%= f.collection_select :arrival_airport_id, Airport.all, :id, :code %>
    </div>
  </div>

  <%= f.submit "Search" %>
<% end %>

<h2>All Flights</h2>
<% @all_flights.each do |flight| %>
  <%= render "flights/flight_card", flight: flight %>
<% end %>

<br>

<% if @search_results %>
  <h2>Search Results</h2>
  <% unless @search_results.present? %>
    <p>Sorry, we couldn't find any flights.</p>
  <% else %>
    <% @search_results.each do |flight| %>
      <%= render "flights/flight_card", flight: flight %>
    <% end %>
  <% end %>
<% end %>
