<div class="post-form-container">
  <% if @post.errors.any? %>
    <div class="toast alert">
      <h2>
        <%= pluralize(@post.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: @post do |f| %>
    <%= f.label :content, "Post a new message, #{current_user.name}:" %>
    <%= f.text_area :content, placeholder: 'Post content here...' %>

    <%= f.submit "Create post" %>
  <% end %>
</div>
