<div>
  <% if posts_owner?(@user) %>
    <%= render "posts/post_form" %>
  <% end %>

  <% if @posts&.any? %>
    <div>
      <% @posts.each do |post| %>
        <p><%= post.body %></p>
        <% if posts_owner?(@user) %>
          <%= button_to "Delete", post_path(post), data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, method: :delete %>
        <% end %>
        <% if post.comments.any? %>
          <% post.comments.each do |comment| %>
            <div>
              <p><%= comment.commentable.user.name %>
              <p><%= comment.body %>
              <% if comment_owner?(comment.author) %>
                <%= button_to "Delete", comment_path(comment), data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, method: :delete %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= render "posts/comment_form", :post => post %>
      <% end %>
    </div>
  <% else %>
    <p><%= posts_owner?(@user) ? "You haven't" : "#{@user&.name} hasn't" %> posted anything yet.</p>
  <% end %>
</div>
