<div class="profile-container">
  <div class="friends-container">
    <div class="card friends">
      <%= possessive(@user.name) %> friends:
      <% if @user.friends.any? %>
        <ul>
          <% @user.friends.each do |friend| %>
            <li><%= link_to_user_profile(friend) %></li>
          <% end %>
        </ul>
      <% else %>
        <p><%= @user.name %> doesn't have any friends yet.  You could be their first!</p>
      <% end %>
    </div>
  </div>

  <div class="feed-container">
    <% if posts_owner?(@user) %>
      <%= render "posts/post_form" %>
    <% end %>

  <% if @posts&.any? %>
    <div>
      <% @posts.each do |post| %>
        <div class="card post">
          <p><span class="post-author"><%= post.author.name %> Posted:</span><%= post.body %></p>
          <% if posts_owner?(@user) %>
            <%= button_to "Delete", post_path(post), data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, method: :delete %>
          <% end %>
          <% if post.comments.any? %>
            <% post.comments.each do |comment| %>
              <div class="card comment">
                <p><%= link_to_user_profile(comment.author) %> says: <%= comment.body %></p>
                <% if comment_owner?(comment.author) %>
                  <%= button_to "Delete", comment_path(comment), data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, method: :delete %>
                <% end %>
              </div>
            <% end %>
            <%= render "posts/comment_form", :post => post %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= posts_owner?(@user) ? "You haven't" : "#{@user&.name} hasn't" %> posted anything yet.</p>
  <% end %>
</div>
