<div>
  <h2><%= possessive(@profile.user.name) %> Profile:</h2>
  <ul>
    <li><span class="bold-text">Bio: </span><%= @profile.bio %></li>
    <li><span class="bold-text">Email: </span><%= @profile.email %></li>
    <li><span class="bold-text">Birthday: </span><%= @profile.birthday %></li>
    <li><span class="bold-text">Location: </span><%= @profile.address %></li>
    <li><span class="bold-text">Phone: </span><%= @profile.phone %></li>
  </ul>
</div>
