<div>
  <h2><%= possessive(@profile.user.name) %> Profile:</h2>
  <ul>
    <li><span class="bold-text">Bio: </span><%= @profile.bio %></li>
    <li><span class="bold-text">Email: </span><%= @profile.email %></li>
    <li><span class="bold-text">Birthday: </span><%= @profile.pretty_format_birthday %></li>
    <li><span class="bold-text">Location: </span><%= @profile.address %></li>
    <li><span class="bold-text">Phone: </span><%= @profile.phone %></li>
  </ul>
  <% if current_user.id == @user.id %>
    <%= link_to "Edit Profile", edit_user_profile_path(@user.profile) %>
  <% end %>
</div>
