<h1>Events</h1>
<% @events.each do |event| %>
  <div class="card">
    <h2><%= event.title %></h2>
    <p><%= event.creator.name %></p>
    <p><%= event.description %></p>
    <p><%= event.event_date %> at <%= event.location %></p>
  </div>
<% end %>
