<header id="main-header">
  <nav id="main-nav">
    <ul id="hero">
      <li>
        <h1><a href="/">Fakebook</a></h1>
      </li>

      <% if user_signed_in? %>
        <ul id="nav-links">
          <li>
            <%= link_to "my profile", user_posts_path(current_user) %>
          </li>

          <li>
            <%= link_to "find friends", users_path %>
          </li>

          <li>
            <%= link_to user_friend_requests_path(current_user) do %>
              <% if current_user.friend_requests.count > 0 %>
                <span title="<%= pluralize(current_user.friend_requests.count, 'friend request') %>"><i class='fa-solid fa-heart'></i></span>
              <% else %>
                <i class='fa-regular fa-heart'></i>
              <% end %>
            <% end %>
          </li>

          <li>
            <%= link_to user_friends_path(current_user) do %>
              <span title="<%= pluralize(current_user.friends.count, 'friends') %>"><i class='fa-solid fa-user-group'></i></span>
            <% end %>
          </li>

          <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete, data: { "turbo-method" => :delete } %>
          </li>
        </ul>
      <% end %>
    </ul>
  </nav>
</header>
